@mixin saveBtns { // Save/no-save button
  color: darkgray;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 2rem;
}

@mixin editDeleteBtns($theme: rgb(91, 91, 92)) { // entryList edit/delete btns
  background: #2c2c2c;
  color: $theme;
  display: inline-block;
  font-size: 1rem;
  margin: .25rem .8rem .8rem .25rem;
  padding: .5rem 1.8rem;
  border-radius: .125rem;
  cursor: pointer;
}

@mixin formInput { // Create/Edit journal entry input area
  color: rgb(229, 221, 231);
  font-size: 1rem;
  background: linear-gradient(rgba(97, 149, 202, 0.719), rgba(245, 255, 250, 0.575));
  display: block;
  padding: .75rem;
  box-sizing: border-box;
  border: .25rem rgba(192, 192, 192, 0.719);
  border-radius: 1rem;
  width: 100%;
  height: 50%;
  resize: vertical;
}

* {
  font-family: Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(0.25turn, slategray, mintcream 30%, teal);
}

.container {
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transition: all 500ms ease-in-out;
}

.title-bar {
  font-family: Luminari;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.navbar-content {
  padding: .2rem;
  form {
    padding: 1rem 1.8rem;
    display: inline-flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    input[type=text] {
      width: 25%;
      padding: .5rem;
      margin: 1rem;
      font-size: 1rem;
      border-radius: 1rem;
      box-shadow:0 0 1.5rem .4rem rgba(0,0,0,0.06);
      background-color: seashell;
      &::placeholder {
        font-size: .85rem;
        color: lightslategrey;
      }
    }
  }
}

.navbar-search {
  vertical-align: middle;
  font-size: .8rem;
  height: 55%;
  padding: .5rem;
  border-radius: .4rem;
  transition: all 0.4s ease;
  cursor: pointer;
}

.new-btn { // CreateEntry modal toggle button
  background: rgb(26, 141, 84);
  font-size: 2rem;
  margin: .2rem;
  padding: .5rem;
  margin-left: auto;
  margin-right: auto;
  text-rendering: auto;
  display: flex;
  align-items: center;
  width: auto;
  height: 100%;
  border-radius: .4rem;
  cursor: pointer;
}

.entrylist-content {
  display: flex;
  justify-content: center;
  td {
    vertical-align: top;
    text-align: start;
    padding: .5rem .2rem;
  }
}

.journal-date {
  font-size: .5rem;
  margin: 2rem;
  padding: 2rem;
}

.journal-text {
  font-size: 1rem;
  margin: 2rem;
  padding: 2rem;
  align-items: center;
  white-space: pre-wrap;
}

.edit-btn {
  @include editDeleteBtns(skyblue);
}

.delete-btn {
  @include editDeleteBtns(crimson);
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  transition: all .7s ease;
}

.modal-header {
  font-size: 1.25rem;
  color: mediumturquoise;
  display: flex;
  justify-content: center;
  padding-top: 3rem;
}

.modal-body { // form, input text, placeholder
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: center;
  height: 50%;
  form {
    width: 80%;
    textarea {
      @include formInput;
    }
  }
}

.modal-footer { // static text, 2 buttons (same params)
  margin-bottom: 1rem;
  border: 1rem;
  display: flex;
  justify-content: center;
  button {
    @include saveBtns;
  }
}

/*
container >
  navbar-content > new-trigger
  entrylist-content > edit-trigger
    modal-container >
      modal-header
      modal-body > journal-input
      modal-footer > modal-button

.container
  .navbar-content
    form, input(text), button
    CreateEntry
      .new-trigger
        button, text
      EntryModal
        (as below)
  .entrylist-content
    tr
      th
    tr
      td
        text
        button (maybe give this its own class-styling?)
        EditEntry
          .edit-trigger
            button, text
          EntryModal
            .modal-container
              .modal-header
                text
              .modal-body
                .journal-input (form, input=text)
              .modal-footer
                text
                .modal-button (2x)
*/
