@mixin saveBtns { // Save/no-save button
  color: darkgray;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 2rem;
}

@mixin closeModalBtn { // x-out of modal
  color: rgb(69, 17, 85);
  border: none;
  outline: none;
  cursor: pointer;
  position: inline;
}

@mixin editDeleteBtns($theme: rgb(91, 91, 92)) { // entryList edit/delete btns
  background: #2c2c2c;
  color: $theme;
  font-size: 1rem;
  margin: 2rem;
  padding: .5rem 1.8rem;
  border: none;
  outline: none;
  cursor: pointer;
}

@mixin formInput { // Create/Edit journal entry input area
  color: rgb(124, 107, 129);
  width: 80%;
  align-content: center;
}

// Resets
body {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 80%;
  align-items: center;
  transition: all 500ms ease-in-out;
  display: block;
}

.title-bar {
  font-family: Luminari;
  display: flex;
  justify-content: center;
}

.navbar-content { // nested element is CreateEntry
  width: 75%;
  padding: 2rem;
  justify-content: center;
  display: flex;
  flex-direction: row;
  font: Helvetica;
  form {
    input[type=text] {
      width: 75%;
      padding: .5rem;
      margin: 1rem;
      border-radius: 1rem;
      box-shadow:0 0 1.5rem .4rem rgba(0,0,0,0.06);
      background-color: seashell;
      &::placeholder {
        font-size: .85rem;
        color: lightslategrey;
      }
    }
  }
}

.navbar-search {
  padding: 1.25rem;
}

.new-trigger { // CreateEntry modal toggle button
  color: rgb(26, 141, 84);
  border: none;
  outline: none;
  cursor: pointer;
}

.entrylist-content {
  align-items: center;
  tr { // set sizing of rows
    width: 90%;
    height: 2rem;
    align-items: center;
    margin: 1.2rem;
    padding: 1.2rem;
  }
  th { // "Journal date" category style, not actual journal dates
    align-items: center;
    color: rgb(31, 42, 19);
    font-size: .75rem;
    margin: .5rem;
    padding: .5rem;
  }
  td { // date text, journal entry text
    font-size: 1rem;
    margin: 2rem;
    padding: 2rem;
    align-items: center;
  }
}

.edit-trigger { // is this used/needed?
  @include editDeleteBtns(skyblue);
}

.delete-trigger {
  @include editDeleteBtns(crimson);
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  transition: all .7s ease;
}

.modal-header { // static <h> text, x-out button
  font-size: 1.25rem;
  button {
    @include closeModalBtn;
  }
}

.modal-body { // form, input text, placeholder
  color: rgb(53, 51, 51);
  input[type=text] {
    @include formInput;
  }
}

.modal-footer { // static text, 2 buttons (same params)
  margin-bottom: 1rem;
  border: 1rem;
  button {
    @include saveBtns;
  }
}

/*
container >
  navbar-content > new-trigger
  entrylist-content > edit-trigger
    modal-container >
      modal-header
      modal-body > journal-input
      modal-footer > modal-button

.container
  .navbar-content
    form, input(text), button
    CreateEntry
      .new-trigger
        button, text
      EntryModal
        (as below)
  .entrylist-content
    tr
      th
    tr
      td
        text
        button (maybe give this its own class-styling?)
        EditEntry
          .edit-trigger
            button, text
          EntryModal
            .modal-container
              .modal-header
                text
              .modal-body
                .journal-input (form, input=text)
              .modal-footer
                text
                .modal-button (2x)

                a. Check the container
                1. Do the NavBar - search field, buttons
                2. Do the EntryList - layout, buttons, **add classes as needed!!**
                3. Do the Modal - should be no colliding styles!
*/


/*
margin
padding
border
outline

cursor
*/
